body{
    background-image: url(../bg.png);
    margin: 0;
    padding: 0;
    font-family: palatino;
}

.main{
    border-top: solid 10px;
    border-top-color:paleturquoise;
    padding: 0;
    margin: 0;
    width: 100%;
}
div.content{
    font-family: palatino;
    text-align: center;
    background-color: white;
    border: 2px ridge #d09ffe;
    border-radius: 0 20px 0 20px;
    margin: 25px;
    padding-bottom: 45px;

}
#cinemas{
    height: 300px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
}



.myBox{
    padding-top: 100px;
    margin-top: 45px;
    margin-bottom: 25px;
    opacity: 0.9;
    background-color: white;
    border: #3a0c54 solid 2px;  
    font-size: 28px;
    color: white;
    text-shadow: 0 0 2px #FF0000, 0 0 3px #0000FF;
    font-weight: bold;
}

#news{
    margin-top: 45px;
    opacity: 0.9;
    color: black;
}


ul.menu li{ direction: rtl; }
.dropdown-menu { background: transparent;}
ul{ list-style-type: none; }

#righter{ direction: rtl; text-align: right; }
#centerer{ text-align: center; direction: rtl;}

#cinema-title{
    font-size: 26px;
    text-align: center;
    font-family: palatino;
    text-decoration: none;
    color: white;
}
#cinema-caption{
    font-size: 20px;
    text-align: center;
    background-color: #481e5c;
    direction: rtl;
    font-family: palatino;
    text-decoration: black;
    opacity: 0.8;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
}
.xmenu{
    position: absolute;
    padding-top: 10px; 
    margin-right: 0;
}

.login-menu{
    font-size: 20px;
    direction: rtl;
    font-family: palatino;
    text-decoration: black;
}
#title{
    border-bottom: #d9bcea ridge;
    font-family: palatino;
    font-weight: bold;
    font-size: 50px;
    background: url(../1.png) no-repeat;
    padding-top: 0px;
    height: 240px;
    width: 100%;
    padding-right: 240px;
}
#bottom-title{margin-bottom: 10px; opacity: 0.8;}


#title-menu{
    background-color: #d09ffe;
    border-radius: 5px;
    width: 120px;}
.menu{
    direction: rtl;
    font-family: palatino;
    text-decoration: black;
    font-size: 18px;
    opacity: 0.9;
    color: white;

}
p.menu{
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 1px #000000, 0 0 1px #000000;
    background-color: #481e5c;
}
footer.menu{
    padding-top: 10px;
    font-size: 20px;
    text-shadow: 0 0 1px #000000, 0 0 1px #000000;
    background-color: #481e5c;
}

#myNavbar{
    background-color: #d09ffe;      
}
.navbar-custom {
    background-color:#42E4FF;
    color:black;
    border-radius:0;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: black;
    text-decoration: none;     
}
.navbar-custom .navbar-nav > li > a {
    color:black;
    text-decoration: none;   
}
.navbar-custom .navbar-brand {
    color:black; 
}
.icon-bar {
    color: black;  
    border: 1px solid black;
    background-color: black;
}
p{
    text-align: right;
    padding: 5px 25px;
    text-justify: auto;
    font-size: 18px;
}
h1{padding-right: 20px;}

/********************************************************************/
a:active{ text-decoration: none; color: black; }
a:link{ text-decoration: none; color: black;}
a:visited{ text-decoration: none; color: black; }
a:hover{ text-decoration: none; color: black }
@font-face{font-family: 'palatino'; src: url('../fonts/BRoya.woff') format('woff');}

.slid {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/*************************star rating********************/
